html, body{
	height: 100%; margin: 0; padding: 0;
}

#map-canvas{
  	position: absolute;
  	height: calc(100% - 57px);
  	margin-top: -40px;
}

.mdl-grid{
	padding:0;
	margin: 0;
	/*background: #efefef;*/
}

.addEventButton{
	z-index: 10;
	position: absolute;
	bottom: 45px;
	right: 45px;
}

.sidebar{
	background: #efefef;
	margin: 0;
	padding:10px;
}

ul#event-comments{
	margin:0;padding:0;
	overflow-y: scroll;
}

ul#event-comments li {
	list-style: none;
	padding-left:0;
	margin-left:0;
	padding: 10px;
	border-bottom: 1px solid green;
}

ul#event-comments li .comment{
	padding: 5px;
	/*background: white;*/
}

ul#event-comments li span {
	font-size: 11px;
	color: #888;
}

#event-details{
	/*background: red;*/
	padding:10px;
	font-weight: bold;
}

#event-details .eventDetails{
	font-weight: bold;
}

#event-details h4{
	font-weight: bold;
}

.img-circle{
	border-radius: 99px;
	margin-top: 5px;
	border:3px solid white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}