html, body, #map-canvas { 
	height: 100%; margin: 0; padding: 0;
}

#map-canvas{
  	position: absolute;
  	height: calc(100% - 62px);
}


.addEventButton{
	z-index: 10;
	position: absolute;
	bottom: 45px;
	right: 45px;
}

.sidebar{
	background: pink;
}